/* CSS for styling the html page */

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  background-color: #e9c76b;
  color: #777777;
}

.mainHeading {
  text-align: center;
}

.burgerImg {
  text-align: center;
  height: 100px;
}

#eatDaBurger {
  color: rgb(207, 5, 5);
}

.notEaten,
.eaten {
  background-color: rgb(235, 226, 226);
  border: 1px solid rgb(156, 153, 153);
  padding: 3px;
}

.notEaten {
  margin: 0px 0px 10px 0px;
}

.eaten {
  margin: 0px;
}

.newBurger {
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.submitBtn {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: whitesmoke;
  background-color: #3b50af;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  width: 100px;
  height: 35px;
}

.textarea_msg {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 400px;
  height: 80px;
  padding: 5px;
  border-color: #97a4db;
}

.burger_msg {
  font-size: 12px;
}